CREATE OR REPLACE FUNCTION public.process_delivery(p_booking_id uuid, p_delivery_qty integer, p_user_id uuid, p_user_name text) RETURNS void LANGUAGE plpgsql SECURITY DEFINER AS \$\$ DECLARE v_booking RECORD; v_remaining_qty INT; v_remaining_amount NUMERIC; v_delivered_amount NUMERIC; v_new_booking_id UUID := gen_random_uuid(); v_allot RECORD; v_qty_to_move INT; BEGIN SELECT * INTO v_booking FROM bookings WHERE id = p_booking_id FOR UPDATE; IF NOT FOUND THEN RAISE EXCEPTION 'Booking not found'; END IF; IF p_delivery_qty <= 0 OR p_delivery_qty > v_booking.quantity THEN RAISE EXCEPTION 'Invalid delivery quantity'; END IF; IF p_delivery_qty = v_booking.quantity THEN UPDATE bookings SET status = 'Delivered', updated_at = now() WHERE id = p_booking_id; ELSE v_remaining_qty := v_booking.quantity - p_delivery_qty; v_remaining_amount := ROUND((v_booking.total_amount / v_booking.quantity) * v_remaining_qty); v_delivered_amount := v_booking.total_amount - v_remaining_amount; UPDATE bookings SET quantity = p_delivery_qty, total_amount = v_delivered_amount, status = 'Delivered', updated_at = now() WHERE id = p_booking_id; INSERT INTO bookings (id, booking_number, customer_name, customer_phone, city, plant_id, lot_id, quantity, advance_paid, advance_payment_mode, advance_cash_amount, advance_upi_amount, total_amount, booking_date, delivery_date, status, remarks, payment_mode, cash_amount, upi_amount, worker_id, assigned_to, created_at) VALUES (v_new_booking_id, v_booking.booking_number || '-PEND', v_booking.customer_name, v_booking.customer_phone, v_booking.city, v_booking.plant_id, v_booking.lot_id, v_remaining_qty, v_booking.advance_paid, v_booking.advance_payment_mode, v_booking.advance_cash_amount, v_booking.advance_upi_amount, v_remaining_amount, v_booking.booking_date, v_booking.delivery_date, (CASE WHEN v_booking.status IN ('Ready', 'Allocated') THEN v_booking.status ELSE 'Pending' END), v_booking.remarks, v_booking.payment_mode, 0, 0, v_booking.worker_id, v_booking.assigned_to, now()); v_qty_to_move := v_remaining_qty; FOR v_allot IN SELECT * FROM allotments WHERE booking_id = p_booking_id AND deleted_at IS NULL FOR UPDATE LOOP IF v_qty_to_move <= 0 THEN EXIT; END IF; IF v_allot.quantity <= v_qty_to_move THEN v_qty_to_move := v_qty_to_move - v_allot.quantity; UPDATE allotments SET booking_id = v_new_booking_id WHERE id = v_allot.id; ELSE UPDATE allotments SET quantity = v_allot.quantity - v_qty_to_move WHERE id = v_allot.id; INSERT INTO allotments (id, booking_id, lot_id, quantity, allotted_by, allotted_at, deleted_at) VALUES (gen_random_uuid(), v_new_booking_id, v_allot.lot_id, v_qty_to_move, v_allot.allotted_by, v_allot.allotted_at, NULL); v_qty_to_move := 0; END IF; END LOOP; END IF; INSERT INTO audit_logs (id, user_id, user_name, action, table_name, record_id, details, created_at) VALUES (gen_random_uuid(), p_user_id, p_user_name, 'PROCESS_DELIVERY', 'bookings', p_booking_id::text, json_build_object('delivery_qty', p_delivery_qty), now()); END; \$\$;
